@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 02_A");

    string artistid = "";
    string artistname = "";

    var artistArg = Request.Form["artistArg"];
    var thebutton = Request.Form["theButton"];

    var db = Database.Open("CHINOOK");

    string sqlcommand1 = "SELECT ArtistId FROM Artists WHERE Name LIKE @0";

    var partialstring = "%" + artistArg + "%";
    var results = db.Query(sqlcommand1, partialstring);
}

@section banner {
    <h1>@Page.Title</h1>
}


@if (IsPost)
{
    if (thebutton.Equals("reset"))
    {
        <p style="color:darkblue">The Reset Button was just Pressed</p>
        artistArg = "";
        artistid = "";
    }
    else
    {
        if (results.Count() == 0)
        {
            <p style="color:firebrick">There was no record returned from the Data Base</p>
            artistArg = "";
            artistid = "";
        }
        else
        {
            Response.Redirect("Exercise02_B.cshtml?cid=" + artistArg);
            <p style="color:darkgreen">There was @results.Count() record/s returned from the Data Base</p>
        }
    }
}
else
{
    <p style="color:darkblue">The Data Base has not been queried</p>
    artistArg = "";
}

<form id="EX02" method="post">
    <div class="row">
        <div class="col-3">
            <div class="offset-1">
                <label id="lblartistArg" for="artistArg">Enter a partial artist name:</label>&nbsp;&nbsp;
                <input type="text" id="artistArg" name="artistArg"
                       value="@artistArg" placeholder="partial artist name" />
                <br /><br />
                <button type="submit" id="theButton" name="theButton"
                        value="submit" class="btn btn-primary">
                    Fetch
                </button>&nbsp;&nbsp;
                <button type="submit" id="theButton" name="theButton"
                        value="reset" class="btn btn-light">
                    Reset
                </button>
            </div>
        </div>
    </div>
</form>
